*{
    padding: 0;
    margin: 0;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

.dashboard-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;
    border: 2px solid black;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(42, 164, 204);
    color: white;
}

.main-area {
    border: 2px solid blue;
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    border: 2px solid green;
}

.content {
    border: 2px solid orange;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    

}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    height: 50px;
}


.nav-main a,
.nav-secondary a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 20px;
    color: white;
}

.sidebar img {
  filter: brightness(0) invert(1);
}

